.case-studies-section {
    background: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    color: rgb(0, 255, 255);
    max-width: 1400px;
    margin: 5rem auto;

    & .section-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    & .section-description {
        font-size: 1.125rem;
        margin-bottom: 2rem;
        text-align: justify;
    }

    & .case-studies {
        list-style-type: none;
        /* Eliminar viñetas */
        padding: 0;
    }
}